.box-set {
    background: #eaeaed;
  }
  .box {
    background: #2db34a;
    float: left;
    margin: 1.858736059%;
    width: 29.615861214%;
  }
  .box-set {
    overflow: auto;
  }
  .box-set:before,
.box-set:after {
  content: "";
  display: table;
}
.box-set:after {
  clear: both;
}
.box-set {
  *zoom: 1;
}
